.pilot-dashboard{
  display: flex;
  height: 100%;
  background-color: #F4F7FE;
  width: auto;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.dashboard-content{
  flex: 1; 
  padding-left: 20px;
}

.info-exp{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.pilot-info {
margin: 15px;
width: 250px;
height: 455px;
padding-bottom: 30px;
padding-left: 25px;
padding-right: 25px;
border-radius: 10px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pilot-info h2 {
font-size: 18px;
color: #333;
justify-content: space-between;
font-weight: bold;
text-align: center;
}

.info {
text-align: left;
margin: 10px 0;
}

.info p {
font-size: 10px;
color: #555;

}

.pilot-photo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 15px;
  transition: transform 0.3s;
}

.pilot-photo:hover {
  transform: scale(1.1);
}

.photo-container{
display: flex;
justify-content: center;
}

.participant-photo {
border-radius: 50%;
object-fit: cover;
transition: transform 0.3s;
text-align: center;
width : 50px;
margin-left: 60px;
margin-right: 60px;
}

.participant-photo:hover {
transform: scale(1.1);
}

.empty-photo {
border-radius: 50%;
width: 50px;
object-fit: cover;
margin-left: 60px;
margin-right: 60px;
transition: transform 0.3s;
background: #e0e0e0;
}

.empty-photo:hover {
transform: scale(1.1);
}

.nomprenom {
text-align: center;
}

.rolepilote {
text-align: center;
}

.rolepilote p{
color: gray;
margin-top: 0px;
margin-bottom: 15px;
}

.nomprenom p {
color: black;
margin-top: 5px;
margin-bottom: 5px;
}

.info-row {
display: flex;
justify-content: flex-start;
align-items: center;
margin-bottom: 10px;
}

.label {
font-weight: 600;
color: #333;
margin-right: 10px;
font-size: 14px;
}

.value-box {
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px;
display: flex;
justify-content: center;
}

.value {
color: #555;
text-align: center;
}

.fitbit{
display: flex;
justify-content: center;
}

.Supfitbit, .ajtfitbit {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 15px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.Supfitbit:hover {
background-color: #eab3b3;
color: #772c2c;
}

.ajtfitbit:hover {
background-color: #b8eab3;
color: #2c772c;
}


.info-associee{
width: 85%;
margin :15px;
}

.graph-containerP {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding-left: 10px;
padding-right: 10px;
background-color: white;
border-radius: 10px;
height: 250px;
overflow-y: auto; 
}

.info-graph {
display: flex;
justify-content: space-between; 
align-items: center;
padding: 10px; 
border: 1px solid #ccc;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.info-graph h2 {
margin: 0; 
font-size: 1.5em; 
color: #333;
}

.info-graph button {
padding: 5px 20px; 
color: #fff; 
background-color: #007bff; 
border: none; 
border-radius: 10px; 
cursor: pointer; 
transition: background-color 0.3s;
}

.info-graph button:hover {
background-color: #0056b3;
}

.graph-container::-webkit-scrollbar {
height: 8px;
background: #f1f1f1; 
}

.graph-container::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 8px;
}

.graph-container::-webkit-scrollbar-thumb:hover {
background: #555; 
} 

.grapheP{
height: 100%;
}

.grapheP > canvas{
width: 50%;
}

.experimentations-table{
display: flex;
flex-direction: row;
}

.liste-exp{
margin-top: 16px;
width: 350px;
padding: 10px;
border-radius: 10px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
overflow-y: auto; 
overflow-x: hidden;
height: 200px;
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;
}

.liste-exp > h2 {
color: #333;
font-size: 18px;
margin-top: 8px;
margin-bottom: 8px;
}

.liste-exp thead{
background-color: #faf7f7; 
color: #313131; 
border-radius: 20px;
}

.liste-exp th{
font-size: 12px;
padding: 10px;
}

.liste-exp td{
padding: 8px;
}

.liste-exp th,
.liste-exp td {
text-align: center;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
transition: background-color 0.3s; 
}

.liste-exp::-webkit-scrollbar {
width: 10px; 
}

.liste-exp::-webkit-scrollbar-track {
background: #f1f1f1; 
}

.liste-exp::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 5px;
}

.liste-exp::-webkit-scrollbar-thumb:hover {
background: #555;
}


.experimentation-info{
display: flex;
justify-content: space-between; 
align-items: center;
margin: 0px;
}

.experimentation-info > div > h4 {
color: #333;
}

.experimentation-info > div > p {
margin: 0px;
}

.experimentation-info > div {
display: flex;
align-items: center;
margin-left: 10px;
margin-right: 10px;
}

.liste-pil{
border-radius: 10px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin-top: 16px;
margin-left: 16px;
padding: 10px;
width: 400px;
overflow-y: auto;
height: 200px;
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;

}

.liste-pil > h2 {
color: #333;
font-size: 18px;
margin-top: 8px;
margin-bottom: 8px;
}

.liste-pil thead{
background-color: #faf7f7; 
color: #313131; 
border-radius: 20px;
}

.liste-pil th{
font-size: 12px;
padding: 10px;
}

.liste-pil td{
padding: 8px;
}

.liste-pil th,
.liste-pil td {
text-align: center;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
transition: background-color 0.3s; 
}

.liste-pil tr:hover {
background-color: #dbe7e9; 
}