.sidebar {
  height: 100vh; 
  width: 18,33%; 
  background: linear-gradient(
    106.37deg,
    #34b4f0 80% 
    #69c5f0 75%,  
    #95e4ee 50%,
    #e0f7fa 25%,
  );
  transition: width 0.3s ease;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 18,33%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 40%;
  }
}

.sidebarGlass{
  display: grid;
  height: 97%;
  width: 97%;
  margin-top: 10px;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,255,255, 0.70);

}

.sidebarContainer {
  height: auto ;
  width: 100%;
  margin-right: 20px;
}

.logo-container {
  padding: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 80%; 
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuItem{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 14px;
  border-radius: 0.7rem;
}

.menuItem:hover {
  cursor: pointer;
}

.active {
  background: #aedcff;
  margin-left: 0;
}

.active::before{
  content: '';
  width : 8px;
  height: 100%;
  background: #432dce;
  margin-right: calc(1rem - 8px);
}

.menu .menuItem:last-child{
    position: absolute;
    bottom: 2.3rem;
}

@media (max-width: 768px) {
  .logo-container {
    padding: 10px;
  }

  .logo {
    width: 70%;
  }

  .menuItem {
    font-size: 12px;
    gap: 0.5rem;
    height: 2rem;
    margin-left: 1rem;
  }
}

@media (max-width: 480px) {
  .menuItem {
    font-size: 10px;
    height: 1.8rem;
    margin-left: 0.5rem;
  }

  
}